@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.body{
     text-align:center;
     background: url('https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')no-repeat;
     background-position:center;
     background-size:cover;
     color:white;
     height:auto
}
.text{
          width:100%;
          border-radius:20px;
          border:3px solid grey
}
.text-wrap{
     text-align:center;
     font-family: 'Roboto', sans-serif;

}
.text-wrap h2{
     margin-bottom:15px;
     font-family: 'Roboto', sans-serif;
     font-size:35px;
}
.text-wrap p{
     margin-bottom:15px;
     font-family: 'Roboto', sans-serif;
     font-size:25px
}
.form{
     font-size:30px;
     display:flex;
     flex-direction:row;
     font-family: 'Roboto', sans-serif;
}
.f1 , .f2{
     display:flex;
     flex-direction:column;
}
.f1 p ,.f2 p{
         margin: 0 20px 0 0
}
.spotify iframe{
     border:2px solid grey;
     border-radius:20px;
     margin-bottom:20px
}
.spotify h4{
     font-family: 'Roboto', sans-serif;
     margin-bottom:20px
}
.s1 .progress-bar{
     width:90%;

}
.s2 .progress-bar{
     width:60%;
   
}
.s1,.s2,.s3{
     margin:10px 0 
}
.s3 .progress-bar{
     width:80%;
   
}
.s{
          margin: 5px 0 10px 0
}
.skills{
     margin: 20px  0;
     width:100%;
     display:flex;
     flex-direction:column;
     align-items:center;
     font-family: 'Roboto', sans-serif;
}
.footer{
     background-color:#003459;
     height:30%;
     border-radius:15px;
     text-align:center;
     font-family: 'Playfair Display', serif;
     color:white
}
.font i{
     margin:0px 15px 5px 0px;
     cursor:pointer;
     color:white
}
.font i:hover{
     color:grey
}