.wrap{
     height:auto
}
.container{;
     text-align:Center;
     border-radius: 20px
}
.container h1{
     margin-bottom: 30px;
     font-family: 'Playfair Display', serif;
}
.container h2{
     margin-bottom: 20px;
     font-family: 'Playfair Display', serif;
}
.container p{
     margin-bottom: 20px;
     font-family: 'Playfair Display', serif;
}
.container a{
     margin-bottom: 30px;
     font-family: 'Playfair Display', serif;
     color:goldenrod
}
.container a:hover{
     color: grey
}

.image img{
     border-radius:100%;
     margin:25px 0
}
.imag {
     margin:25px 0
}
.footer{
     background-color:#003459;
     height:30%;
     border-radius:15px;
     text-align:center;
     font-family: 'Playfair Display', serif;
     color:white
}
.font i{
     margin:0px 15px 5px 0px;
     cursor:pointer;
     color:white
}
.font i:hover{
     color:grey
}
.contact{
     margin-bottom:20px;
}