@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.nav{
     display:flex;
     flex-direction:row;
     justify-content:space-around;
      min-height:10vh;
     color:white;
     font-family: 'Playfair Display', serif;
}
.nav h2{
     margin-top:12px
}